*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image:-o-linear-gradient(45deg,grey, black);
    height: 100vh;
    color:rgb(240, 152, 211);
    font-family: 'Times New Roman', Times, serif;
    text-align: center;    
}
.Calculadora{
    position: absolute;
    background-color: rgb(240, 231, 140);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
}
.botao{
    width: 50px;
    height: 50px;
    margin: 3px;
    font-size: 25px;
    cursor: pointer;
    background-color: rgb(136, 209, 229);
    border: none;
    color: rgb(243, 154, 214);
}
.botao:hover{
    background-color: rgb(172, 215, 248);
    color: white;
}
#resultado{
    background-color: white;
    width: 207px;
    height: 30px;
    margin: 5px;
    color: black;
    text-align: right;
    padding: 5px;
}